#container {
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    width: 900px;
    row-gap: 0px;
    column-gap: 0px;
}

.square {
    border-color: black;
    border-style: solid;
    flex: 1;
}